@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.restaurants-bg-container {
    background-image: url('https://images.deliveryhero.io/image/fd-hk/LH/s2iu-hero.jpg');
    height: 100vh;
    background-size: cover;
}

.restaurants-main-heading {
    color: black;
    font-family: Bree Serif;
    font-size: 38px;
    font-weight: 500;
}

.restaurants-paragraph {
    font-size: 20px;
    font-weight: 500;
    color: grey;
}

.restaurants-card-container {
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    background-size: cover;
}

.button {
    height: 36px;
    width: 148px;
    font-size: 20px;
    border-radius: 20px;
    border-width: 0px;
    border-style: solid;
}

.unorder-list {
    list-style-type: disc;
    color: black;
    font-size: 30px;
    font-family: Bree Serif;
    
}
Footer